// color
$main-color : #0D1768;
$widget-color : #344BFF;
$hover-color : #FFC834;

// size
$title: 2rem;
$normal: 1.5rem;
$small: 1.2rem;

// layout
@mixin grid {
  display: grid;
  width: 100%;
  margin-top: 2rem;
  font-family: 'Noto Sans KR', sans-serif;
  max-width: 1920px;
  height: 100%;
  grid-template-columns: 233px 1fr 1fr 1fr 233px;
}